body {
  background-color: Navy;
  color: Orange;
}

#segundo {
  background-color: OrangeRed;
  color: Yellow;
  font-size: 20px;
}

.terceiro {
  background-color: Sienna;
  color: Violet;
  font-size: 25px;
}
